<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantalla Principal</title>
    <link rel="stylesheet" href="/static/CSS/styles.css">
</head>
<body>
    <div class="navbar">
        <div class="nav-left">
            <a href="#">Inicio</a>
        </div>
        <div class="nav-right">
            <a href="/templates/login.html">Inicio de sesión</a>
            <input type="text" class="search-bar" placeholder="Buscar...">
        </div>
    </div>

    <div class="main-content">
        <div>
            <h1>Bienvenido</h1>
            <p>A nuestro proyecto final</p>
        </div>
    </div>
</body>
</html>
